* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  max-width: 1170px;
}

header {
  text-align: center;
}
header .navbar ul {
  list-style: none;
}
header .navbar ul li {
  display: inline-block;
  padding: 10px;
}
header .navbar ul li a {
  text-decoration: none;
  color: #103A7D;
  padding: 10px;
}
header .navbar ul li a:hover {
  background-color: #b3e5fc;
}

.sfondo {
  height: 500px;
  width: 100%;
  background-image: url("../img/molisana-home.jpg");
  background-position: center;
  background-size: cover;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
}
.box-container .box {
  width: calc(100% / 3);
  position: relative;
}
.box-container .box:hover {
  opacity: 0.8;
}
.box-container .box img {
  max-width: 100%;
}
.box-container .box .title {
  display: none;
}
.box-container .box:hover .title {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box-container .box:hover .title a {
  text-decoration: none;
}

.sfondo-news {
  height: 500px;
  width: 100%;
  background-image: url("../img/fondo-pag-speciali.jpg");
  background-position: center;
  background-size: cover;
}

.titolo {
  background-color: #b8dae6;
  color: white;
  padding-top: 20px;
}

.dettagli-container img {
  display: flex;
  max-width: 100%;
}
.dettagli-container .testo {
  background-color: #b7d9e5;
  padding-bottom: 20px;
  font-size: 20px;
}

footer {
  height: 100px;
  width: 100%;
  background-image: url("../../img/footer-montagne-bottom.jpg");
  background-position: center;
  background-size: cover;
}