// Pagina home
.sfondo{
    height: 500px;
    width: 100%;
    background-image: url('../img/molisana-home.jpg');
    background-position: center;
    background-size: cover;
}

// Pagina prodotti
.box-container{
    display: flex;
    flex-wrap: wrap;
    .box{
        width: calc(100% / 3);
        position: relative;
        &:hover {
            opacity: 0.8;
        } 
        img{
            max-width: 100%;
        }
        .title{
            display: none;
        }
        &:hover .title{
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }  
}

// Pagina news
.sfondo-news{
    height: 500px;
    width: 100%;
    background-image: url('../img/fondo-pag-speciali.jpg');
    background-position: center;
    background-size: cover;
}